conda {
    cacheDir = "$SCXA_WORKFLOW_ROOT/envs"
    createTimeout = "30 min"
}

process {
    executor='slurm'
    queue="$SCXA_HPC_QUEUE"
    clusterOptions="$SCXA_HPC_OPTIONS"
}

executor {
    queueSize=500
    perJobMemLimit=true
    exitReadTimeout='100000 sec'
    pollInterval = '5sec'
}

params {
    tertiary='no'
    largeMatrixThreshold=25000
    topmarkersForSummary=5
}
