conda {
    cacheDir = "$SCXA_WORKFLOW_ROOT/envs"
    createTimeout = "30 min"
}

process {
    executor='slurm'
    queue="$SCXA_HPC_QUEUE"
    clusterOptions="$SCXA_HPC_OPTIONS"
    queueSize=500
    exitReadTimeout='100000 sec'
    pollInterval = '5sec'
    time = '5 d'
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 5
    memory = { 
        def attemptMemory = 4.GB * Math.pow(2, task.attempt)
        def maxMemory = 256.GB
        return [attemptMemory, maxMemory].min()
    }
}

params {
    tertiary='no'
    largeMatrixThreshold=25000
    topmarkersForSummary=5
}
