conda {
    cacheDir = "$SCXA_WORKFLOW_ROOT/envs"
    createTimeout = "30 min"
}

process {
    executor='slurm'
    queue="$SCXA_HPC_QUEUE"
    clusterOptions="$SCXA_HPC_OPTIONS"
    queueSize=500
    exitReadTimeout='100000 sec'
    pollInterval = '5sec'
    time = '5 d'
    memory = '4 GB'
}

params {
    tertiary='no'
    largeMatrixThreshold=25000
    topmarkersForSummary=5
}
